<!DOCTYPE html>

<html lang="en" ng-app="dustr">

<head>
	<meta charset="utf-8">

	<meta name="description" content="A dust.js template compiler">
	<meta name="keywords" content="dust js dustjs dust.js compiler javascript template ">
	<meta name="publisher" content="Nicolas Laplante">

	<title>dustr - a dust.js template compiler</title>

	<link rel="stylesheet" href="css/prettify.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/dustr.css">
	
	<link rel="author" href="https://plus.google.com/108189012221374960701">	
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29774526-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>

<body ng-controller="DustrCtrl">
	<div class="navbar navbar-fixed-top">
    	<div class="navbar-inner">
    		<div class="container">
    			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
    			<a class="brand" href="/" rel="home">dustr.org</a>
    			
    			<div class="nav-collapse">
    				<ul class="nav">
    					<li class="active"><a href="/" rel="start">Home</a></li>
    					<li><a href="http://akdubya.github.com/dustjs/" rel="external">Docs</a></li>
    					<li><a href="https://github.com/nlaplante/dustr" rel="external">Fork</a></li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </div>

	<div class="container">
		<div class="hero-unit">
			<h1>dustr</h1>
			<p>An online <a href="http://akdubya.github.com/dustjs/" rel="external">dustjs</a> template compiler</p>
			<div class="g-plusone" data-annotation="none" data-href="http://dustr.org"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dustr.org" data-text="Try out this neat #dustjs template compiler!" data-size="large" data-hashtags="webdev" data-count="none">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>			
		</div>
		
		<form name="dustrForm" novalidate>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#pane-source" data-toggle="tab" ng-activate-on-output>Source</a></li>
					<li><a href="#pane-history" data-toggle="tab" ng-if-feature="localstorage">History ({{ history.items.length }})</a>
				</ul>
			
				<div class="tab-content">
					<div id="pane-source" class="tab-pane active">
						<fieldset>
							<legend>Define your template here:</legend>						
						<div class="row-fluid">								
							<div class="span8">
								<div class="control-group">
									<label class="control-label" for="input">Place your template code in the area below:</label>
									<div class="controls">							
										<textarea placeholder="Paste template code here" tabindex="1" class="span12" rows="10" ng-model="source" required></textarea>
										<p class="help-block">See the <a href="http://akdubya.github.com/dustjs/#guide" rel="external">dust.js guide</a> for further information.</p>
									</div>
								</div>							
							</div>
			
							<div class="span4">
								<div class="control-group">
									<label for="name" class="control-label">Identify your template with a unique name:</label>
									<div class="controls">
										<input type="text" placeholder="Ex.: 'my_dust_template'" class="span12" tabindex="2" ng-model="name" required>
									</div>
								</div>
								
								<div class="form-actions control-group">			
									<label class="control-label">Compile your template:</label>
								
									<div class="controls">
										<button class="btn btn-primary" tabindex="3" 
											ng-disabled="dustrForm.$invalid || isUnchanged()" 
											ng-click="compile()"
											ng-track-ga="click" 
											ng-track-ga-category="User actions" 
											ng-track-ga-name="Compile template">
											<i class="icon-white icon-ok"></i> Compile
										</button>
			
										<button class="btn" tabindex="5" ng-disabled="isUnchanged()" ng-click="clear()">
											<i class="icon-remove"></i> Clear
										</button>
									</div>
								</div>
							</div>					
						</div>		
						</fieldset>			
						
						<fieldset ng-show="output.raw != null" id="output-fieldset">
							<legend>Compiled template code:</legend>
							<div class="row-fluid">
								<div class="field-controls">
									<div class="controls">
										<ul class="nav nav-tabs">
											<li class="active"><a href="#tab-output-beautiful" data-toggle="tab">Beautiful</a></li>
											<li><a href="#tab-output-raw" data-toggle="tab">Raw</a></li>
										</ul>
										
										
										<div class="tab-content">
											<div class="tab-pane active" id="tab-output-beautiful">
												<pre id="output-beautiful" class="prettyprint lang-js linenums" ng-bind="output.beautiful" ng-select-on="click">
												</pre>
											</div>
											<div class="tab-pane" id="tab-output-raw">
												<pre id="output-raw" ng-bind="output.raw" ng-select-on="click">
												</pre>
											</div>
										</div>							
										
										<p class="help-block">Copy this code and put it in your templates script.</p>
									</div>		
								</div>
							</div>
						</fieldset>	
				</div>
				
				<div id="pane-history" class="tab-pane">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Template name</th>
								<th>Size (raw)</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in history.items">
								<td><a href="#" ng-click="loadFromHistory($index)">{{ item.name }}</a></td>
								<td>{{ item.bytes | size }}</td>
								<td>{{ item.date | date:"MMMM d, y 'at' h:mm a"  }}</td>
							</tr>
						</tbody>
					</table>
				</div>				
			</div>			
		</form>		
	</div>

	<footer class="container">		
		<hr>
		Built using <a href="https://github.com/linkedin/dustjs" rel="external" title="dust.js">dust.js</a>,
		<a href="http://jsbeautifier.org/" rel="external" title="beautify.js">beautify.js</a>,
		<a href="http://code.google.com/p/google-code-prettify/" rel="external" title="google-code-prettify">google-code-prettify</a>,
		<a href="http://angularjs.org/" rel="external" title="angularjs">angular.js</a> and 
		<a href="http://twitter.github.com/bootstrap/" rel="external" title="Twitter Bootstrap">Twitter	Bootstrap</a>.<br> 
		Copyright &copy; 2012 <a href="https://plus.google.com/108189012221374960701?rel=author" rel="author me external">Nicolas Laplante</a>. 
		All rights reserved.		
		
		<a href="https://github.com/nlaplante/dustr" rel="external">
			<img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1040" 
				src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
		</a>		
	</footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="scripts/modernizr-2.5.3.dustr.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/prettify.js"></script>
	<script src="scripts/dust-full-1.0.0.js"></script>
	<script src="scripts/beautify.js"></script>
	<script src="scripts/angular-1.0.1.min.js"></script>
	<script src="scripts/compiler.js"></script>
	<script src="https://apis.google.com/js/plusone.js"></script>

</body>

</html>